html {
  background-color: aliceblue;
  height: 100%;
  width: 100%;
}

h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  color: #7d7d85;
}
table {
  text-align: center;
}


